In [123]:
import numpy as np
import pandas as pd
import torch as th

## PRE-PROCESSING

In [104]:
raw = pd.read_csv('data/train.csv')
display(raw)
data = raw.copy()
save = data.copy()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [105]:
# PassengerID

pass

In [106]:
data = save.copy()

# HomePlanet
homeplanet_labels = {p: i for i, p in enumerate(data['HomePlanet'].unique())}
print(homeplanet_labels)

data['HomePlanet'] = data['HomePlanet'].replace(homeplanet_labels).astype(int)

display(data)

{'Europa': 0, 'Earth': 1, 'Mars': 2, nan: 3}

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,0,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,1,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,0,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,0,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,1,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,1,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,1,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,0,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,0,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [107]:
save = data.copy()

In [108]:
data = save.copy()

# CryoSleep
cryosleep_labels = {p: i for i, p in enumerate(data['CryoSleep'].unique())}
print(cryosleep_labels)

data['CryoSleep'] = data['CryoSleep'].replace(cryosleep_labels).astype(int)

display(data)

{False: 0, True: 1, nan: 2}

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,0,0,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,1,0,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,0,0,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,0,0,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,1,0,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,0,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,1,1,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,1,0,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,0,0,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,0,0,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [109]:
save = data.copy()

In [110]:
data = save.copy()

# Cabin -> Split to Cabin1, Cabin2, Cabin3
data['Cabin'].fillna('NaN/NaN/NaN', inplace=True)
cabin_list = ['Cabin1', 'Cabin2', 'Cabin3']
data = pd.concat([data, data['Cabin'].str.split('/', expand=True).rename(columns={i: c for i, c in enumerate(cabin_list)})], axis=1)
data = data.drop(columns=['Cabin'])

cabin_labels = {c: {k: i for i, k in enumerate(data[c].unique())} for c in cabin_list}
for c in cabin_list:
    data[c] = data[c].replace(cabin_labels[c]).astype(int)

display(data)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Cabin1,Cabin2,Cabin3
0,0001_01,0,0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0,0
1,0002_01,1,0,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0,1
2,0003_01,0,0,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,2,0,1
3,0003_02,0,0,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,2,0,1
4,0004_01,1,0,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,0,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,2,88,0
8689,9278_01,1,1,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,3,1423,1
8690,9279_01,1,0,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,3,1534,1
8691,9280_01,0,0,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,5,728,1
8692,9280_02,0,0,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,5,728,1

In [111]:
save = data.copy()

In [112]:
data = save.copy()

# Destination
destination_labels = {d: i for i, d in enumerate(data['Destination'].unique())}
print(destination_labels)

data['Destination'] = data['Destination'].replace(destination_labels).astype(int)

display(data)

{'TRAPPIST-1e': 0, 'PSO J318.5-22': 1, '55 Cancri e': 2, nan: 3}

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Cabin1,Cabin2,Cabin3
0,0001_01,0,0,0,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0,0
1,0002_01,1,0,0,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0,1
2,0003_01,0,0,0,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,2,0,1
3,0003_02,0,0,0,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,2,0,1
4,0004_01,1,0,0,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,0,2,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,2,88,0
8689,9278_01,1,1,1,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,3,1423,1
8690,9279_01,1,0,0,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,3,1534,1
8691,9280_01,0,0,2,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,5,728,1
8692,9280_02,0,0,0,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,5,728,1

In [113]:
save = data.copy()

In [114]:
data = save.copy()

# VIP
vip_labels = {v: i for i, v in enumerate(data['VIP'].unique())}
print(vip_labels)

data['VIP'] = data['VIP'].replace(vip_labels).astype(int)

display(data)

{False: 0, True: 1, nan: 2}

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Cabin1,Cabin2,Cabin3
0,0001_01,0,0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,0,0
1,0002_01,1,0,0,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0,1
2,0003_01,0,0,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,2,0,1
3,0003_02,0,0,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,2,0,1
4,0004_01,1,0,0,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,0,2,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,2,88,0
8689,9278_01,1,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,3,1423,1
8690,9279_01,1,0,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,3,1534,1
8691,9280_01,0,0,2,32.0,0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,5,728,1
8692,9280_02,0,0,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,5,728,1

In [115]:
save = data.copy()

In [116]:
data = save.copy()
data.fillna(0, inplace=True) # Fill NaN with 0

In [117]:
save = data.copy()

In [118]:
data = save.copy()

# Transported
transported_labels = {t: i for i, t in enumerate(data['Transported'].unique())}
print(transported_labels)

labels = data['Transported'].replace(transported_labels).astype(int)
data.drop(columns=['Transported'], inplace=True)

display(data)
display(labels)

{False: 0, True: 1}

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Cabin1,Cabin2,Cabin3
0,0001_01,0,0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0,0,0
1,0002_01,1,0,0,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1,0,1
2,0003_01,0,0,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,2,0,1
3,0003_02,0,0,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,2,0,1
4,0004_01,1,0,0,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0,0,2,41.0,1,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,2,88,0
8689,9278_01,1,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,3,1423,1
8690,9279_01,1,0,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,3,1534,1
8691,9280_01,0,0,2,32.0,0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,5,728,1
8692,9280_02,0,0,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,5,728,1

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 8693, dtype: int32

In [119]:
save = data.copy()

In [120]:
data = save.copy()
data.drop(columns=['PassengerId', 'Name'], inplace=True)

display(data)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Cabin1,Cabin2,Cabin3
0,0,0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,0,0,0
1,1,0,0,24.0,0,109.0,9.0,25.0,549.0,44.0,1,0,1
2,0,0,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,2,0,1
3,0,0,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,2,0,1
4,1,0,0,16.0,0,303.0,70.0,151.0,565.0,2.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0,0,2,41.0,1,0.0,6819.0,0.0,1643.0,74.0,2,88,0
8689,1,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,3,1423,1
8690,1,0,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,3,1534,1
8691,0,0,2,32.0,0,0.0,1049.0,0.0,353.0,3235.0,5,728,1
8692,0,0,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,5,728,1

## CLASSIFICATION

In [121]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
scores = cross_val_score(model, data.values, labels.values, cv=5)
print(scores.mean())

0.7586540020420979